@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    color: #43173d !important;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    color: #43173d !important;
}
ul, li {
    list-style: none !important;
  }

