
/*register*/
.bg-register{
    background-image: url("../assets/bgregister.svg");
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover;
}
.register-title{
  color: #212121;
}
.form-container{
  background-color: white;
  border-radius: 20px;
}
#btn-register{
    background-color: #43173d;
    border-color: #43173d;
    color: #f6f6f6;
    text-decoration: none;
}
.btn-register:hover{
  background-color: #43173d;
  border: #43173d;
}